@import 'assets/css/fonts.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #202020;
}

main {
	padding-top: 157px;
}

h1 {
	font-family: 'Philosopher-Bold';
	font-weight: 700;
	font-size: 57px;
	line-height: calc(57px * 1.1 + 4px);
}
h2 {
	font-family: 'Philosopher-Regular';
	font-weight: 400;
	font-size: 40px;
	line-height: calc(40px * 1.1 + 4px);
}
h3 {
	font-family: 'Roboto-Medium';
	font-weight: 500;
	font-size: 23px;
	line-height: calc(23px * 1.1 + 4px);
}
h4 {
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 16px;
	line-height: calc(16px * 1.5);
}

img {
	max-width: 100%;
	width: auto;
	height: max-content;
}

.pos-a {
	position: absolute;
}

.reset {
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.reset--a {
	color: #202020;
}
.reset--btn {
	border: none;
	background: none;
}
.reset-list-style {
	list-style: none;
}

.container {
	padding: 0 15px;
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	padding-top: 9px;
	top: 0;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__right-part {
	display: flex;
	gap: 57px;
	align-items: center;
}
.header__item {
	padding-top: 27px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.header__phone {
	position: relative;
	padding-left: 10px;
	font-family: 'Roboto-Bold';
	font-weight: 700;
	font-size: 18px;
	line-height: calc(18px * 1.5);
}
.header__phone::before {
	position: absolute;
	top: 4px;
	left: -10px;
	display: block;
	width: 16px;
	height: 16px;
	content: url('assets/img/icon_tel.svg');
}
.header__small-text {
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 13px;
	line-height: calc(13px * 1.5);
	color: #7d808a;
}
.nav__list {
	display: flex;
	gap: 43px;
}
.nav__link {
	padding-bottom: 10px;
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 13px;
	line-height: calc(13px * 1.5);
	text-transform: uppercase;
}
.nav__link:hover {
	border-bottom: 1px solid #008139;
}
.nav__link--active {
	border-bottom: 1px solid #008139;
	cursor: not-allowed;
}

@media screen and (min-width: 768px) {
	.desktop-none {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.mobile-none {
		display: none;
	}
}
