@import 'assets/css/fonts.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #202020;
}

h1 {
	font-family: 'Philosopher-Bold';
	font-weight: 700;
	font-size: 57px;
	line-height: calc(57px * 1.1 + 4px);
}
h2 {
	font-family: 'Philosopher-Regular';
	font-weight: 400;
	font-size: 40px;
	line-height: calc(40px * 1.1 + 4px);
}
h3 {
	font-family: 'Roboto-Medium';
	font-weight: 500;
	font-size: 23px;
	line-height: calc(23px * 1.1 + 4px);
}
h4 {
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 16px;
	line-height: calc(16px * 1.5);
}

img {
	max-width: 100%;
	width: auto;
	height: max-content;
}

.pos-a {
	position: absolute;
}

.reset {
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.reset--a {
	color: #202020;
}
.reset--btn {
	border: none;
	background: none;
}
.reset-list-style {
	list-style: none;
}
.btn {
	background: linear-gradient(180deg, #fff383 0%, #ffc700 100%);
}
.btn--apply {
	padding: 21px 75px;
	font-family: 'Montserrat-SemiBold';
	font-size: 15px;
	line-height: 32px;
	border-radius: 5px;
	color: #6a5300;
	box-shadow: 0 4px 0 0 #c89c00;
	text-transform: uppercase;
}

.container {
	padding: 0 15px;
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	padding-top: 9px;
	top: 0;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__right-part {
	display: flex;
	gap: 57px;
	align-items: center;
}
.header__item {
	padding-top: 27px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.header__phone {
	position: relative;
	padding-left: 10px;
	font-family: 'Roboto-Bold';
	font-weight: 700;
	font-size: 18px;
	line-height: calc(18px * 1.5);
}
.header__phone::before {
	position: absolute;
	top: 4px;
	left: -10px;
	display: block;
	width: 16px;
	height: 16px;
	content: url('assets/img/icon_tel.svg');
}
.header__small-text {
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 13px;
	line-height: calc(13px * 1.5);
	color: #7d808a;
}
.nav__list {
	display: flex;
	gap: 43px;
}
.nav__link {
	padding-bottom: 10px;
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 13px;
	line-height: calc(13px * 1.5);
	text-transform: uppercase;
}
.nav__link:hover {
	border-bottom: 1px solid #008139;
}
.nav__link--active {
	border-bottom: 1px solid #008139;
	cursor: not-allowed;
}
.nav__button {
	padding: 6px 10px 8px 10px;
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	border: 1px solid #008139;
	border-radius: 3px;
}

.hero {
	padding-top: 157px;
	min-height: 948px;
	background: url('assets/img/hz_hero_bg.jpg') no-repeat center center/cover;
}
.hero__content {
	max-width: 614px;
}
.hero h1 {
	margin-bottom: 40px;
}
.hero__text {
	position: relative;
	margin-bottom: 42px;
	padding-left: 46px;
	font-family: 'AlegreyaSans-Regular';
	font-weight: 400;
	font-size: 24px;
	line-height: calc(24px * 1.1 + 4px);
	color: #646464;
}
.hero__text::before {
	position: absolute;
	left: 0;
	top: 16px;
	display: block;
	width: 26px;
	height: 1px;
	background-color: #8f8f8f;
	content: '';
}
.hero__strong {
	font-family: 'AlegreyaSans-Bold';
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	.desktop-none {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.mobile-none {
		display: none;
	}
}

@media screen and (max-width: 1920px) {
	h1 {
		font-size: 47px;
		line-height: calc(47px * 1.1 + 4px);
	}

	.btn--apply {
		padding: 15px 54px;
		font-size: 13px;
	}

	.hero {
		margin-bottom: 89px;
		padding-top: 121px;
		min-height: 611px;
	}
	.hero h1 {
		margin-bottom: 30px;
	}
	.hero__text {
		margin-bottom: 37px;
		font-size: 20px;
		line-height: calc(20px * 1.1 + 4px);
	}
}

@media screen and (max-width: 1000px) {
	h1 {
		font-size: 37px;
		line-height: calc(37px * 1.1 + 4px);
	}

	.logo {
		width: 120px;
		height: 39px;
	}

	.header__right-part {
		gap: 41px;
	}
	.header__phone {
		font-size: 14px;
		line-height: calc(14px * 1.5);
	}
	.header__small-text {
		font-size: 11px;
		line-height: calc(11px * 1.5);
	}
	.nav__link {
		font-size: 11px;
		line-height: calc(11px * 1.5);
	}

	.btn--apply {
		padding: 6px 50px;
		font-size: 10px;
	}

	.hero {
		padding-top: 111px;
		min-height: 539px;
	}
	.hero h1 {
		margin-bottom: 20px;
	}
	.hero__content {
		max-width: 400px;
	}
	.hero__text {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 22px;
	}
	.hero__text::before {
		width: 15px;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 33px;
		line-height: calc(33px * 1.1 + 4px);
	}

	.logo {
		width: 89px;
		height: 29px;
	}

	.header__container {
		gap: 24px;
	}
	.header__right-part {
		width: 100%;
		justify-content: space-between;
		gap: 0;
	}

	.hero {
		min-height: 565px;
	}
	.hero__container {
		display: flex;
		justify-content: center;
	}
	.hero__content {
		text-align: center;
	}
	.hero h1 {
		margin-bottom: 15px;
	}
	.hero__text {
		padding-left: 0;
		padding-top: 10px;
	}
	.hero__text::before {
		top: 0;
		left: 50%;
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 24px;
		line-height: calc(24px * 1.1 + 4px);
	}

	.btn--apply {
		padding: 6px 45px;
	}

	.header__container {
		gap: 0;
	}
	.header__right-part {
		width: auto;
	}
	.header__item {
		display: none;
	}

	.hero__text {
		margin-bottom: 25px;
		padding-top: 15px;
		font-size: 13px;
		line-height: 18px;
	}
}
